.homepage {
  padding-top: 2rem;
  overflow: hidden;
  .container {
    h1 {
      font-size: 1.5rem;
      font-weight: 700;
    }
    .items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      padding-top: 4rem;
      .item {
        border: 2px solid palevioletred;
        border-radius: 10px;
        padding: 0.5rem;
        transition: ease all 300ms;
        &:hover {
          transform: translateY(-20px);
          img {
            height: 160px;
          }
        }
        img {
          transition: ease all 300ms;
          height: 140px;
          width: 100%;
        }
        button {
          background-color: tomato;
          border: 2px solid black;
          color: white;
          border-radius: 5px;
          transition: scale 100ms ease-out;
          &:active {
            scale: 0.95;
          }
        }
      }
    }
  }
  .cart {
    scale: 0.5;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: calc(20px + 1rem);
    width: 20vw;
    padding: 1rem;
    transform: translateX(40vw);
    transition: scale 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
  }
  .show {
    scale: 1;
    transform: translateX(0px);
  }
  .showCartButton {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: orange;
  }
}
