header {
  // background-color: tomato;
  width: 100vw;
  nav {
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      img {
        width: 3rem;
      }
      p {
        font-size: 1.6rem;
        font-weight: 700;
      }
    }
    .links {
      display: flex;
      gap: 1rem;
      a {
        transition: all 100ms ease-in-out;
        @media (hover: hover) {
          &:hover {
            transform: translateY(-3px);
          }
        }
      }
    }
  }
}
